*.ipynb
pw_snapshot/pics/
pw_snapshot/cache/
pw_snapshot/log/
flask-api/log/
web-ui/assets/img/pfp/
web-ui/data.json
web-ui/New folder (2).rar
web-ui/profile.html
web-ui/temp.html
web-ui/extra.js
bkup/
sandbox/abc.png
sandbox/abc1.png
sandbox/abc12.png
sandbox/032475fd9efa4c7.html
sandbox/New file.txt
sandbox/temp2.png
sandbox/b.py
sandbox/machinelearnflx.png
sandbox/machinelearnflx.html
sandbox/location.png
sandbox/blank_pfp.jpg
